body{
    margin: 0;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-top:0;
    color: inherit;
    background-color: #eee;
  }
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}